<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Chuck Norris">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="particles-js" style="position:fixed;width:100%;z-index:-10;"></div>
  <script src="/javascripts/particles.min.js"></script>
  <script src="/javascripts/particles.app.js"></script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/data">Data</a></li>
        <li><a href="/spiders">Spiders</a></li>
        <li><a href="/latest">
            < latest>
          </a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Secluded</h1>
    <p>You can find here data collected so far. Download JSON files and do your analysis! </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>
          <%= title %>
        </h3>
        <p>Welcome to <%= title %>
        </p>
        <p>
          <%= message %>
        </p>
      </div>
      <div class="col-sm-6">
        <h3>Techniques</h3>
        <p>Robots Meta Directives</p>
        <p>
          <%= technique %>
        </p>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <!-- <div> TODO: change domain name</div> -->
      <a class="text-dark" href="https://Secluded.com/">Secluded</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>